VITE_FIREBASE_API_KEY=AIzaSyABrU_aJKb2WIMAhMbvN4sZPBUgQoPefTs
VITE_FIREBASE_AUTH_DOMAIN=historicoweb-c8026.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=historicoweb-c8026
VITE_FIREBASE_STORAGE_BUCKET=historicoweb-c8026.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=981547679883
VITE_FIREBASE_APP_ID=1:981547679883:web:315683fd77fe9faf11148e
